.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 28px;
  background-color: #ffffffd4;
  box-shadow: 0 2px 5px rgba(44, 43, 43, 0.08);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 48px;
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #201d1d;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #d32f2f;
}